*
{
	margin: 0;
	border: 0;
	padding: 0;
	text-decoration: none;
}

body
{
	padding-top: 25px;
	background-color: #404040;
	background-image: url(pics/texture.png);
	background-attachment: fixed;
	font-family: "PT Sans";
	font-size: 16px;
}

page
{
	display: block;
	background: white;
	box-sizing: border-box;
	background-clip: padding-box;
	margin: 0px auto 25px auto;
	border: 9px solid transparent;
	border-image: url(pics/shadow.png) 9 repeat;
	overflow: hidden;
	padding: 64px;
	height: 1140px;
	width: 809px;
}

p a, a > span
{
	color: #008ace;
	border-bottom: 1px solid #b2ccf0;
	padding-bottom: 2px;
}

p, ul {	margin-bottom: 16px; }

ul { padding-left: 40px; }

#top
{
	display: table-row;
	font-size: 0;
}

#top > div
{
	display: table-cell;
	vertical-align: top;
}

#contacts, #photo { min-width: 210px; }

#contacts { padding-top: 6px; }

#contacts > a
{
	display: inline-block;
	margin-bottom: 9px;
	min-width: 0px;
	float: left;
	clear: left;
}

#contacts > a:before
{
	display: inline-block;
	margin: 2px 7px 0px 0px;
	width: 16px;
}

#megafon:before  { content: url("pics/megafon.svg");  }
#gmail:before    { content: url("pics/gmail.svg");    }
#github:before   { content: url("pics/github.svg");   }
#telegram:before { content: url("pics/telegram.svg"); }
#vk:before       { content: url("pics/vk.svg");       }

#contacts > a > span
{
	vertical-align: top;
	font-family: "Ubuntu";
	font-size: 15px;
}

#header
{
	width: 100%;
	padding-top: 15px;
	text-align: center;
	font-family: "PT Serif";
	--padding: 8px;
}

#name, #job { margin: 0; }

#name
{
	padding-bottom: var(--padding);
	border-bottom: 1px solid black;
	font-size: 22px;
}

#job
{
	padding-top: var(--padding);
	font-style: italic;
	font-size: 16px;
}

#photo { text-align: right; }

#photo > img
{
	max-height: 141px;
	border-radius: 8px;
}

#top + p { margin-top: 27px; }

#stepik
{
	width: 400px;
	margin-bottom: 18px;
}

#stepik > li { margin-bottom: 10px; }

#stepik > li > a { float: right; }

#stepik > li > a:before
{
	display: inline-block;
	margin: 2px 6px 0px 0px;
	content: url("pics/pdf.svg");
	vertical-align: top;
	width: 16px;
}

#button
{
	display: block;
	position: fixed;
	right: 60px;
	bottom: 50px;
	--size: 58px;
	/*--size: 5.1vw;*/
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	background-color: #007000;
	/*background-color: navy;*/
	background-image: url("pics/print.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 46%;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.14), 0 6px 12px rgba(0, 0, 0, 0.28);
}

@media screen and (min-resolution: 150dpi)
{
	#button { --size: 1.7in; }
}

@media screen and (min-resolution: 150dpi) and (orientation: landscape)
{
	#button { --size: 15pc; background-color: navy; }
}
/*Experimental:
#button:hover  { background-color: #008000; }
#button:active { background-color: #006000; }*/

@page {	margin: 0; }

@media print
{
	body
	{
		background: white;
		padding-top: 0;
	}

	page
	{
		margin: 0;
		border-image: none;
	}

	#button
	{
		display: none;
	}
}

@font-face
{
	font-family: "Ubuntu";
	src: url("fonts/Ubuntu Regular.ttf");
}

@font-face
{
	font-family: "PT Sans";
	src: url("fonts/PT Sans Regular.ttf");
	font-weight: normal;
}

@font-face
{
	font-family: "PT Sans";
	src: url("fonts/PT Sans Bold.ttf");
	font-weight: bold;
}

@font-face
{
	font-family: "PT Serif";
	src: url("fonts/PT Serif Regular.ttf");
	font-style: normal;
}

@font-face
{
	font-family: "PT Serif";
	src: url("fonts/PT Serif Italic.ttf");
	font-style: italic;
}
