*
{
	margin: 0;
	border: 0;
	padding: 0;
}

body
{
	padding-top: 25px;
	background-color: #404040;
	background-image: url(pics/texture.png);
	background-attachment: fixed;
}

page
{
	display: block;
	background: white;
	margin: 0px auto 25px auto;
	overflow: hidden;
	padding: 1.6cm 1.8cm;
	box-sizing: border-box;
	background-clip: padding-box;
	border: 9px solid transparent;
	border-image: url(pics/shadow.png) 9 repeat;
	width: calc(var(--w) + 9px);
	height: calc(var(--h) + 9px);
	font-family: "PT Serif", serif;
	--std-margin: 40px;
}

page[size="A4"]
{
	--w: 21.0cm;
	--h: 29.7cm;
}

page[size="A4"][layout="landscape"]
{
	--w: 29.7cm;
	--h: 21.0cm;
}

page[size="A3"]
{
	--w: 29.7cm;
	--h: 42.0cm;
}

page[size="A3"][layout="landscape"]
{
	--w: 42.0cm;
	--h: 29.7cm;
}

page[size="A5"]
{
	--w: 14.8cm;
	--h: 21.0cm;
}

page[size="A5"][layout="landscape"]
{
	--w: 21.0cm;
	--h: 14.8cm;
}

p, table, ol, tex
{
	margin-bottom: 12px;
}

/*===========================================================================*/

page > *:not(p):not(ol)
{
	margin-left: var(--std-margin);
}

page > p
{
	text-indent: var(--std-margin);
}

ol
{
	margin-left: calc(var(--std-margin));
	padding-left: 17px; /* TODO: Find width of "1. " in JS? */
	list-style-position: outside;
}

li > table
{
	width: 100%;
}

/*
li > *:not(:first-child)::before
{
	content: "1. ";
	color: white;
}

li > table
{
	width: calc(100% - 17px);
	float: right;
}

li > table:not(:first-child)::before
{
	content: "1. ";
	color: white;
}

li > p:first-child
{
	display: inline-block;
}

/*===========================================================================*/

page > tex
{
	display: block;
}

table
{
	width: calc(100% - var(--std-margin));
	border-collapse: collapse;
	text-align: center;
}

td
{
	border: 1px solid black;
}

@page
{
	margin: 0;
}

@media print
{
	html, body
	{
		padding: 0;
	}

	page
	{
		margin: 0;
		border: 0;
		width: var(--w);
		height: var(--h);
		page-break-after: always;
	}
}
