*
{
	margin: 0;
	border: 0;
	padding: 0;
}

body
{
	--outer-gap: 12px;
	--inner-gap: 8px;

	--white: #f7f7f7;
	--light-grey: #8f8f8f;
	--grey: #3a3a3a;
	--dark-grey: #272727;
	--texture: url("images/texture.png");
	--highlight: linear-gradient(to right, #6c7bdf, #56a4ff);

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--outer-gap);

	padding: var(--outer-gap);
	background: var(--grey) var(--texture) fixed;
}

a
{
	box-sizing: border-box;
	width: 100%;
	max-width: 500px;
	padding: var(--inner-gap);
	border-radius: var(--outer-gap);
	overflow: hidden;

	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: repeat(3, 24px);
	gap: 0 var(--outer-gap);
	align-items: center;

	color: var(--white);
	font-family: "Ubuntu", "Ubuntu Web";
	text-decoration: none;

	background: var(--dark-grey) var(--texture);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

	& > *
	{
		white-space: nowrap;
		overflow: inherit;
		text-overflow: ellipsis;
	}

	&:active
	{
		background-image: var(--texture), var(--highlight);
		& > time { color: var(--white); }
	}

	@media (hover: hover) and (pointer: fine)
	{
		&:hover
		{
			background-image: var(--texture), var(--highlight);
			& > time { color: var(--white); }
		}
	}
}

img
{
	grid-row: 1 / span 3;
	height: 100%;
	object-fit: cover;
	border-radius: calc(var(--outer-gap) - var(--inner-gap));
}

h2
{
	font-size: 16px;
	font-weight: bold;
}

cite
{
	font-size: 15px;
	font-style: normal;
}

time
{
	font-size: 13px;
	color: var(--light-grey);
}

@font-face
{
	font-family: "Ubuntu Web";
	src: url("fonts/ubuntu-regular.ttf");
}

@font-face
{
	font-family: "Ubuntu Web";
	src: url("fonts/ubuntu-bold.ttf");
	font-weight: bold;
}
