*
{
	margin: 0;
	border: 0;
	padding: 0;
}

body
{
	--outer-gap: 12px;
	--inner-gap: 8px;

	--white: #f7f7f7;
	--grey: #3a3a3a;
	--dark-grey: #272727;
	--texture: url("images/texture.png");

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--outer-gap);

	padding: var(--outer-gap);
	background: var(--grey) var(--texture) fixed;
}

a
{
	/* TODO: Cleanup */

	width: 100%;
	max-width: 500px;
	border-radius: var(--outer-gap);

	box-sizing: border-box;

	color: var(--white);
	font-family: "Ubuntu", "Ubuntu Web";
	padding: var(--inner-gap);
	background: var(--dark-grey) var(--texture);

	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: repeat(3, 24px);
	gap: 0 var(--outer-gap);
	align-items: center;
	overflow: hidden;
	text-decoration: none;

	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

	& > h2, cite, time
	{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

a:hover,
a:active
{
	background-image:
		var(--texture),
		linear-gradient(to right, #6c7bdf, #56a4ff);

	& > time { color: var(--white); }
}

img
{
	grid-row: 1 / span 3;
	height: 100%;
	object-fit: cover;
	border-radius: calc(var(--outer-gap) - var(--inner-gap));
}

h2
{
	font-size: 16px;
	font-weight: bold;
}

cite
{
	font-size: 15px;
	font-style: normal;
}

time
{
	font-size: 13px;
	color: #8f8f8f;
}

@font-face
{
	font-family: "Ubuntu Web";
	src: url("fonts/ubuntu-regular.ttf");
}

@font-face
{
	font-family: "Ubuntu Web";
	src: url("fonts/ubuntu-bold.ttf");
	font-weight: bold;
}
