*
{
	margin: 0;
	border: 0;
	padding: 0;
	text-decoration: none;
}

body
{
	padding-top: 25px;
	background-color: #404040;
	background-image: url("../pics/texture.png");
	background-attachment: fixed;
	font-family: "PT Sans", "PT Sans Local", sans-serif;
	font-size: 16px;
}

section
{
	background: white;
	box-sizing: border-box;
	background-clip: padding-box;
	margin: 0px auto 25px auto;
	border: 9px solid transparent;
	border-image: url("../pics/shadow.png") 9 repeat;
	overflow: hidden;
	padding: 64px;
	min-height: 1140px;
	width: 809px;
}

header
{
	display: grid;
	grid-template-areas: "contacts title photo";
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: 118px;
	margin-bottom: 27px;
	font-size: 0;
}

h1
{
	grid-area: title;
	justify-self: center;
	align-self: center;
	width: 243px;
	text-align: center;
	font-family: "PT Serif", "PT Serif Local", serif;
	font-weight: normal;
	font-size: 22px;
}

small
{
	display: block;
	margin-top: 8px;
	border-top: 1px solid black;
	padding-top: 8px;
	font-style: italic;
	font-size: 16px;
}

#photo
{
	grid-area: photo;
	justify-self: right;
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
	border-radius: 8px;
}

a > span
{
	color: #008ace;
	border-bottom: 1px solid #b2ccf0;
	padding-bottom: 1px;
}

address
{
	grid-area: contacts;
	margin-top: 8px;
	font-style: normal;
}

address > a
{
	display: block;
	width: max-content;
	margin-bottom: 9px;
}

address > a:before
{
	display: inline-block;
	margin: 2px 7px 0px 0px;
	width: 16px;
}

#telegram:before { content: url("../pics/telegram.svg"); }
#github:before   { content: url("../pics/github.svg");   }
#email:before    { content: url("../pics/email.svg");    }
#phone:before    { content: url("../pics/phone.svg");    }

address > a > span
{
	vertical-align: top;
	padding-bottom: 2px;
	font-family: "Ubuntu", "Ubuntu Local", sans-serif;
	font-size: 15px;
}

h2, p, ul { margin-bottom: 16px; }

h2 { font-size: inherit; }

h2.inline
{
	float: left;
	margin: 0;
}

h2.inline::after { content: "\a0"; }

ul { padding-left: 40px; }

li { margin-bottom: 2px; }

#stepik > li { margin-bottom: 10px; }

.course > a
{
	position: relative;
	float: right;
	right: 180px;
}

.course > a:before
{
	display: inline-block;
	margin: 3px 7px 0px 0px;
	content: url("../pics/stepik.svg");
	vertical-align: top;
	width: 16px;
}

#print
{
	display: block;
	position: fixed;
	right: 60px;
	bottom: 50px;
	--size: 1.43cm;
	/*--size: 5.1vw;*/
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	background-color: white;
	/*background-color: navy;*/
	background-image: url("../pics/print_green.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 46%;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.14), 0 6px 12px rgba(0, 0, 0, 0.28);
}

#print:hover
{
	/* TODO: Replace the separate picture with a filter */
	/* if possible without additional non-semantic tags */
	background-color: #007000;
	background-image: url("../pics/print_white.svg");
}

@media screen and (min-resolution: 150dpi)
{
	/*#print { --size: 1.7in; }*/
}

@media screen and (min-resolution: 150dpi) and (orientation: landscape)
{
	/*#print { --size: 1.1in; }*/
}

@media only screen and (max-width: 825px)
{
	body { padding-top: 0; }

	section
	{
		width: auto;
		height: auto;
		margin: 0;
		border: 0;
		padding: 30px 20px 30px 30px;
	}

	header
	{
		grid-template-areas: "title title" "photo contacts";
		grid-template-columns: none;
		grid-template-rows: auto 118px;
		margin-right: 10px;
	}

	h1 { margin-bottom: 16px; }

	address { margin-left: 12px; }

	.course
	{
		display: grid;
		grid-template-areas: "name status";
	}

	.course > span
	{
		grid-area: name;
	}

	.course > a
	{
		grid-area: status;
		position: static;
		float: none;
		justify-self: end;
		margin-left: 12px;
	}
}

/*Experimental:
#print:hover  { background-color: #008000; }
#print:active { background-color: #006000; }*/

@page { margin: 0; }

@media print
{
	body
	{
		background: white;
		padding-top: 0;
	}

	section
	{
		margin: 0;
		border-image: none;
	}

	#print
	{
		display: none;
	}
}

@font-face
{
	font-family: "Ubuntu Local";
	src: url("../fonts/Ubuntu Regular.ttf");
}

@font-face
{
	font-family: "PT Sans Local";
	src: url("../fonts/PT Sans Regular.ttf");
	font-weight: normal;
}

@font-face
{
	font-family: "PT Sans Local";
	src: url("../fonts/PT Sans Bold.ttf");
	font-weight: bold;
}

@font-face
{
	font-family: "PT Serif Local";
	src: url("../fonts/PT Serif Regular.ttf");
	font-style: normal;
}

@font-face
{
	font-family: "PT Serif Local";
	src: url("../fonts/PT Serif Italic.ttf");
	font-style: italic;
}
