*
{
	margin: 0;
	border: 0;
	padding: 0;
	text-decoration: none;
}

body
{
	--page-margin: 25px;
	--page-shadow: 9px;
	padding-top: var(--page-margin);
	background: fixed #404040 url("../pics/texture.png");
	font: 0 "PT Sans", "PT Sans Web", sans-serif;
}

section
{
	--padding: 64px;
	--icon-size: 16px;
	margin: 0 auto var(--page-margin) auto;
	border: var(--page-shadow) solid transparent;
	border-image: url("../pics/shadow.png") 9 repeat;
	padding: var(--padding);
	width: calc(210mm - 2 * var(--padding));
	height: calc(297mm - 2 * var(--padding));
	background: padding-box white;
}

header
{
	display: grid;
	grid-template-areas: "contacts name photo";
	grid-template-columns: 1fr auto 1fr;
	margin-bottom: 27px;
}

h1
{
	grid-area: name;
	place-self: center;
	width: 243px;
	text-align: center;
	line-height: 28px;
	font-size: 22px;
	font-family: "PT Serif", "PT Serif Web", serif;
	font-weight: normal;
}

small
{
	display: block;
	margin-top: 8px;
	border-top: 1px solid black;
	padding-top: 8px;
	line-height: 20px;
	font-size: 16px;
	font-style: italic;
}

address
{
	grid-area: contacts;
	margin-top: 8px;
	font-style: normal;
}

address > a
{
	display: block;
	margin-bottom: 7px;
	width: max-content;
}

address > a::before
{
	display: inline-block;
	margin: 2px 7px 0 0;
	width: var(--icon-size);
}

#telegram::before { content: url("../pics/telegram.svg"); }
#github::before   { content: url("../pics/github.svg");   }
#email::before    { content: url("../pics/email.svg");    }
#phone::before    { content: url("../pics/phone.svg");    }

address > a::after,
#courses > li > a::after,
ul:not(#courses) > li > a
{
	border-bottom: 1px solid #b2ccf0;
	padding-bottom: 1px;
	color: #008ace;
}

address > a::after
{
	content: attr(data-text);
	display: inline-block;
	vertical-align: top;
	padding-bottom: 2px;
	line-height: 17px;
	font-size: 15px;
	font-family: "Ubuntu", "Ubuntu Web";
}

#photo
{
	grid-area: photo;
	justify-self: right;
	border-radius: 8px;
	width: 118px;
}

h2, p, ul
{
	margin-bottom: 16px;
	line-height: 20px;
	font-size: 16px;
}

h2.inline
{
	float: left;
	margin: 0;
}

h2.inline::after { content: "\a0"; }

ul { padding-left: 30px; }

li
{
	margin-bottom: 2px;
	padding-left: 10px;
}

li::marker { content: "⋄"; }

#courses      { max-width: max-content; }
#courses > li { margin-bottom: 10px;    }

#courses > li > a
{
	float: right;
	margin-left: 60px;
}

#courses > li > a::before
{
	content: url("../pics/stepik.svg");
	display: inline-block;
	vertical-align: top;
	margin: 3px 7px 0 0;
	width: var(--icon-size);
}

#courses > li > a::after { content: "100%"; }

#print-button
{
	--size: 1.5cm;
	--position: calc(var(--page-margin) + var(--page-shadow));
	--whitewash: brightness(0) invert(1);
	--green: #007000;
	display: block;
	position: fixed;
	right: var(--position);
	bottom: var(--position);
	border-radius: 50%;
	width: var(--size);
	height: var(--size);
	background-color: white;
	box-shadow: 0 2px 2px  0   rgb(0 0 0 / 14%),
	            0 3px 1px -2px rgb(0 0 0 / 12%),
	            0 1px 5px  0   rgb(0 0 0 / 20%);
}

/* FINISHED ^^^ */

#print-button::after
{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background-image: url("../pics/print.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 46%;
}

#print-button:hover { background-color: var(--green); }
#print-button:hover::after { filter: var(--whitewash); }

@media only screen and (max-width: 219mm)
{
	body { padding-top: 0; }

	section
	{
		width: auto;
		height: auto;
		margin: 0;
		border: 0;
		padding: 20px 20px calc(1.5cm + 25px) 20px;
	}

	header
	{
		grid-template-areas: "name name" "photo contacts";
		grid-template-columns: initial;
	}

	h1 { margin-bottom: 16px; }

	address { margin-left: 12px; }

	ul { padding-left: 15px; }

	#courses { max-width: initial; }

	#courses > li > a { margin-left: 12px; }

	#print-button
	{
		right: 20px;
		bottom: 20px;
		background-color: var(--green);
	}

	#print-button::after { filter: var(--whitewash); }
}

/* FINISHED vvv */

@media print
{
	body { padding: 0; }

	section
	{
		margin: 0;
		border: 0;
	}

	#print-button { display: none; }
}

@page { margin: 0; }

@font-face
{
	font-family: "Ubuntu Web";
	src: url("../fonts/Ubuntu Regular.ttf");
}

@font-face
{
	font-family: "PT Sans Web";
	src: url("../fonts/PT Sans Regular.ttf");
	font-weight: normal;
}

@font-face
{
	font-family: "PT Sans Web";
	src: url("../fonts/PT Sans Bold.ttf");
	font-weight: bold;
}

@font-face
{
	font-family: "PT Serif Web";
	src: url("../fonts/PT Serif Regular.ttf");
	font-style: normal;
}

@font-face
{
	font-family: "PT Serif Web";
	src: url("../fonts/PT Serif Italic.ttf");
	font-style: italic;
}
